@model List<CinemaLogic.DB.Movie>

@if (Model.Count == 0)
{
    <b>You don't have any bookings!</b>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Director</th>
                <th scope="col">Year</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        @foreach (var movie in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">@movie.Id</th>
                    <td>@movie.Title</td>
                    <td>@movie.Director</td>
                    <td>@movie.Year</td>
                    <td>@movie.CategoryId</td>
                </tr>
            </tbody>
        }

    </table>

}